<template>
  <section id="serie_page">
    <div class="serie-block-me">
      <ul class="serie-arrange" v-if="type == 1">
        <li v-for="(serie, index) in series"
            :key="index"
            :class="{'active' : serie.id == data.serie_id  }">
          <a :href="'/category/serie/' + serie.name + '/' + serie.id + '/' + type">
            <span>{{ serie.name }}</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="section-content-top">
      <div class="container">
        <div class="content-top-description">
          <h1 class="name-model-product">Model {{data.name}}</h1>
          <div class="price-buy">
            <!--           <span>Preț de la: <strong>{{$getProduct->price}}</strong> Lei</span>-->
            <span>Cod SKU: {{data.name}}</span>
          </div>
          <div class="description" v-html="description"></div>

        </div>
        <div class="content-top-image">
          <div class="product_img" @click="expandImage()">
            <img :src="curImg" alt="Door">
          </div>
          <div class="expanded__image_show" v-if="expandImg">
            <div class="close_icon" @click="expandImg = !expandImg">
              <span>×</span>
            </div>
            <img :src="curImg" class="img__current_expanded" alt="Door">
          </div>
        </div>
        <div class="content-top-series">
          <div class="sidenav border-none">
            <h3 class="sidenav-section-title border-right">serii</h3>
            <ul class="sidenav-series">
              <li v-if="showMoreSeries === false"
                  v-for="(serie, index) in series.slice(0, 5)"
                  :key="index"
                  :class="[{'active' : serie.id == data.serie_id  }, {'long_serie_show' : type == 2}]">
                <a :href="'/category/serie/' + serie.name + '/' + serie.id +'/' + type">
                  <span>{{serie.name}}</span>
                </a>
              </li>

              <li v-if="showMoreSeries === true"
                  v-for="(serie, index) in series"
                  :key="index"
                  :class="[{'active' : serie.id == data.serie_id  }, {'long_serie_show' : type == 2}]">
                <a :href="'/category/serie/' + serie.name + '/' + serie.id +'/' + type">
                  <span>{{serie.name}}</span>
                </a>
              </li>

              <li class="long_serie_show">
                <a href="#" @click.prevent="showMoreSeries = !showMoreSeries">
                  <span>Arata toate colectiile</span>
                </a>
              </li>
            </ul>
          </div>
          <div class="sidenav-reset">
            <button data-target="simpleModal_3" data-toggle="modal"
                    class="el-button button is-primary btn-primary el-button--primary w-100">Solictă
              oferta
            </button>
          </div>
          <div id="simpleModal_3" class="modal">
            <div class="modal-window small me-modal">
              <span class="close" data-dismiss="modal" onclick="closeModal()">×</span>
              <span>Solicită oferta</span>
              <input type="hidden" name="door_name" v-model="form.door_name">
              <input name="name" v-model="form.name" type="text" placeholder="Nume..." class="futer-input" required>
              <input name="phone" v-model="form.phone" type="phone" placeholder="Nr. de telefon..." class="futer-input"
                     required>
              <input name="size_door" v-model="form.size_door" type="text" placeholder="Mărimea golului de ușă..."
                     class="futer-input" required>
              <input name="door_numbers" v-model="form.door_numbers" type="text" placeholder="Numărul de uși..."
                     class="futer-input" required>
              <div class="select me-select">
                <select name="color" v-model="form.color" required>
                  <option v-for="(item ,i) in colors" :key="i" :value="item.color.name">{{ item.color.name }}</option>
                </select>
              </div>
              <button type="submit" @click="submitForm()" class="button is-primary is-rounded me-button-mult">Transmite
                solicitarea
              </button>
            </div>
          </div>
        </div>

        <color-window-new :colors="colors" :api="api" @update-fereastra="updateFerestra"
                          @loading-data="LoadData"></color-window-new>


      </div>
    </div>
    <div class="section-content-bottom">
      <div class="container mb-20">
        <div class="tabs is-boxed has-text-weight-bold">
          <ul>
            <li><a href="#" :class="$parent.activeTab == 'furnitura'? 'is_active' : ''"
                   @click.prevent="$parent.activeTab = 'furnitura'">Feronerie</a></li>
            <li><a href="#" :class="$parent.activeTab == 'complect'? 'is_active' : ''"
                   @click.prevent="$parent.activeTab = 'complect'">Descriere Set</a></li>
            <li><a href="#" :class="$parent.activeTab == 'molding'? 'is_active' : ''"
                   @click.prevent="$parent.activeTab = 'molding'">Molding</a></li>
          </ul>
        </div>
        <div class="tabs_content">
          <div class="tab_panel" :class="$parent.activeTab == 'furnitura'? 'is_active' : ''" id="furnitura">
            <ul>
              <li v-for="(item, index) in feronerie"
                  :key="index">
                <div class="supl">
                  <img :src="api + item.image" alt="catalog"
                       class="tab_img">
                  <div class="desc">{{ item.name }}</div>
                </div>
              </li>
            </ul>
          </div>

          <!--          -->
          <div class="tab_panel" id="complect" :class="$parent.activeTab == 'complect'? 'is_active' : ''">
            <div :class=" { 'h-240' : show_description }" style="overflow: hidden; position: relative">
              <div v-html="description"></div>
            </div>

            <div class="show-more">
              <button class="button is-rounded is-primary is-outlined"
                      @click="show_description = !show_description">
                {{ textShow }}
              </button>
            </div>
          </div>
          <!--          <div class="tab_panel" id="molding" :class="$parent.activeTab == 'molding'? 'is_active' : ''">-->
          <!--            <ul>-->
          <!--              @foreach($thisCategory->furnitur as $plane)-->

          <!--              <li>-->
          <!--                <div class="supl">-->
          <!--                  <img src="{{asset('images/accesories/'.$plane->furnit->image)}}"-->
          <!--                       alt="accesorii"-->
          <!--                       class="tab_img" style="width: 240px;">-->
          <!--                  <div class="desc"-->
          <!--                       style="display: table-caption;">{{$plane->furnit->lang->name}}</div>-->
          <!--                </div>-->
          <!--              </li>-->


          <!--              @endforeach-->

          <!--            </ul>-->
          <!--          </div>-->
        </div>
      </div>
      <section id="colection_intern">
        <div class="section-name">
          <h1 class="section-sub-title"><span>produse similare</span></h1>
        </div>
        <div class="container slider-colection">
          <div class="sw-button-prev" slot="button-prev"></div>
          <swiper :options="swiperOption">
            <swiper-slide v-for="(item, i) in similar" :key="i">
              <a :href="api + '/' + item.name + '/' + item.id + '/' + type">
                <div class="slider_image">
                  <img :src="setImage(item.colors[0])"
                       alt="">
                  <div class="slide-price" style="text-align: -webkit-center !important;">
                    Seria {{ item.name }}
                  </div>
                </div>
              </a>
            </swiper-slide>
          </swiper>
          <div class="sw-button-next" slot="button-next"></div>
        </div>
      </section>
    </div>
  </section>
</template>

<script>
export default {
  name: "ProductPage",
  props: ['model_id', 'type', 'api'],
  data() {
    return {
      showMoreSeries: false,
      expandImg: false,
      data: [],
      series: [],
      selected_f: null,
      colors: [],
      ferestre: [],
      color_selected: {},
      description: '',
      show_description: true,
      feronerie: [],
      similar: [],
      serie_id: 1,
      swiperOption: {
        loop: true,
        spaceBetween: 30,
        freeMode: true,
        autoplay: {
          delay: 4000,
          disableOnInteraction: false,
          waitForTransition: false,
        },
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev'
        },
        breakpoints: {
          1408: {
            slidesPerView: 6,
            spaceBetween: 40
          },
          1216: {
            slidesPerView: 5,
            spaceBetween: 30
          },
          1024: {
            slidesPerView: 4,
            spaceBetween: 30
          },
          769: {
            slidesPerView: 2,
            spaceBetween: 20
          },
          320: {
            slidesPerView: 1,
            spaceBetween: 10
          }
        }
      },
      form: {
        door_name: '',
        name: '',
        phone: '',
        size_door: '',
        door_numbers: '',
        color: '',
      }
    }
  },

  created() {
    this.get();
    this.getSeries();
    this.getFeronerie();
    // this.getProductSimilar();
  },

  methods: {
    expandImage() {
      this.expandImg = true;
    },

    setImage(model) {
      let image = '';
      let original_url = this.api+'/images/catalog-img-original/';
      let comprimed_url = this.api+'/images/catalog/';
      if (model.image_original != null) {
        image = original_url + model.image_original;
      } else {
        image = comprimed_url + model.image;
      }

      return image;
    },

    submitForm() {
      axios.post('/submit_request_door', this.form).then(response => {
        if (response.data.status === 200) {
          window.location.href = '/multumim';
        }
      }).catch(error => {
        if (error.response.status == 422) {
          this.errors = error.response.data.errors;
        }
      });
    },

    async get() {
      axios.get(this.api+'/api/product/' + this.model_id).then(response => {
        if (response.data.status === 200) {
          this.data = response.data.data;
          this.description = response.data.data.serie.description;
          this.serie_id = response.data.data.serie.id;
          this.colors = response.data.data.colors;
          this.getProductSimilar()
          this.form.color = this.colors[0].color.name;
          this.form.door_name = response.data.data.name;
        }
      }).catch(error => {
        if (error.response.status == 422) {
          this.errors = error.response.data.errors;
        }
      });
    },

    getSeries() {
      axios.get(this.api+'/api/series/')
          .then(response => {
            this.series = response.data;
          });
    },

    getProductSimilar() {
      axios.get(this.api+'/api/product-similar/' + this.serie_id)
          .then(response => {
            this.similar = response.data.data;
          });
    },

    getFeronerie() {
      axios.get(this.api+'/api/feronerie/')
          .then(response => {
            this.feronerie = response.data.data;
          });
    },

    selectImage(color, windows, fereastra) {
      this.color_selected = color;
      this.ferestre = windows;
      this.selected_f = fereastra;
    },

    updateFerestra(e) {
      this.selected_f = e;
    },

    LoadData(e) {
      //this.loading = e
    },
  },

  computed: {
    textShow() {
      if (this.show_description == true) {
        return 'Află mai multe detalii despre această ușă'
      } else {
        return 'Ascunde informatiile adăugătoare'
      }
    },
    curImg() {
      return this.selected_f
    }
  }
}
</script>

<style lang="scss" scoped>
.expanded__image_show {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 9999999999;
  width: 100%;
  height: 100%;
  background: #191919e8;

  .close_icon {
    position: absolute;
    top: 4px;
    right: 28px;
    font-size: 41px;
    color: white;
    cursor: pointer;
  }

  .img__current_expanded {
    max-height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    right: 0;
    transform: translate(-50%, -50%);
  }
}

.show-more{
  justify-content: center !important;
  display: flex;
  margin: 20px 0;
}

.mb-20 {
  margin-bottom: 2px;
}

.supl {
  .desc {
    width: 140px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
</style>
