#about_etalon{

  display: grid !important;
  grid-gap: 2vw;
  justify-items: center;
  justify-content: center;
  padding-top: 226px;
  padding-bottom: 100px;

  .section-title{
    font-size: 16px;
    color: $white;
    font-weight: 400;
    line-height: 25px;
    text-transform: uppercase;
    margin-bottom: 9px;
    display: inline-block;
    background: $primary;
    padding: 14px 38px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }

  .section-sub-title{
    font-size: 30px;
    line-height: 46px;
    margin-bottom: 40px;
    text-transform: uppercase;
    font-weight: 600;
  }


  ul{
    margin-left: 28px;
    margin-bottom: 56px;
    li{
      list-style-image: url("/img/ceck.png");
      margin-bottom: 23px;
      span{
        font-size: 25px;
        line-height: 38px;
        display: block;
        margin-bottom: 10px;
      }
      p{
        color: $text;
      }
    }
  }

  .dors_about{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    .rounted-button{
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background: $white;
      position: absolute;
      top: 170px;
      left: 160px;
      z-index: 5;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0px 2px 20px 14px rgba(3, 15, 39, 0.1);
    }
    .img_about_dors{
      position: relative;
      z-index: 2;
    }

    &:before{
      content: url("/img/ellipse.png");
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }
    &:after{
      content: url("/img/dot_bg.png");
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: 1;
    }
  }

  @include mobile{
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    .col{
      padding-left: 30px;
      padding-right: 30px;
    }
    .section-sub-title{
      font-size: 2rem;
      line-height: 2.5rem;
    }
  }
  @include tablet-only{
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    .col{
      padding-left: 30px;
      padding-right: 30px;
    }
    .section-sub-title{
      font-size: 2.5rem;
      line-height: 2.7rem;

    }
  }
  @include desktop-only{
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
  }
  @include widescreen-only{
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
  }
  @include fullhd{
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
  }
}
.b-none{
  border: none !important;
}
