#articles_last{
  padding-top: 90px;
  .sw-btn-next{
    background-image: url("/img/arrow-right.png");
    width: 80px;
    height: 16px;
    background-size: inherit;
    background-position: center right;
    background-repeat: no-repeat;
    &:focus{
      outline: none;
    }
  }
  .sw-btn-prev{
    background-image: url("/img/arrow-left.png");
    width: 80px;
    height: 16px;
    background-size: inherit;
    background-position: center left;
    background-repeat: no-repeat;
    &:focus{
      outline: none;
    }
  }
  .last-articles{
    display: flex;
    align-items: center;
    padding: 0 8px;
    .swiper-container{
      padding-top: 72px;
      padding-bottom: 81px;
    }
  }
  .section-subtitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1{
      font-size: 30px;
      line-height: 55px;
      font-weight: 700;
      text-transform: uppercase;
      color: $text;
      span{
        color: $primary;
      }
    }
    @include mobile{
      flex-direction: column;
      text-align: center;
      h1{
        line-height: 41px;
        margin-bottom: 15px;
        span{
          color: $primary;
          display: block;
        }
      }
    }
    @include tablet-only{
      flex-direction: column;
      text-align: center;
      h1{
        line-height: 41px;
        margin-bottom: 15px;
        span{
          color: $primary;
          display: block;
        }
      }
    }
  }
}
.article-card{
  padding: 16px;
  transition: 0.5s all;
  .article-img{
    height: 249px;
    width: 100%;
    position: relative;
    overflow: hidden;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .card-content{
    padding: 17px 14px 40px;
    span{
      display: block;
      margin-bottom: 10px;
      color: #777777;
      font-size: 0.875rem;
      img{
        display: inline-block;
        margin-right: 7px;
      }
    }
    a{
      color: #2b2b2b;
      font-size: 1.125rem;
      font-weight: 500;
    }
  }
  &:hover{
    background: $white;
    box-shadow: 0px 6px 8px 4px rgba(0, 0, 0, 0.08);
    transform: translateY(-10px);
  }
}

.article-card2{
  height: 486px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 0 7px rgb(0, 0, 0, 0.16);
  overflow: hidden;
  .article-img{
    height: 100%;
    width: 100%;
    z-index: 4;
    position: relative;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .content-card{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background: linear-gradient(to top, #2B2B2B, rgba(247, 215, 215, 0));
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 23px;
    a{
      display: block;
      height: 81px;
      font-size: 14px;
      line-height:22px;
      color: $white;
      font-weight: 600;
      margin-top: 12px;
    }
    .data-article{
      display: flex;
      justify-content: space-between;
      span{
        color: $white;
        font-size: 12px;
        font-weight: 400;
      }
    }
  }
}
