#conata_me{
  .card_conata_me{
    background: $primary;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    position: relative;
    z-index: 7;
    top: -75px;
    margin-bottom: -75px;
    h3{
      color: $white;
      font-size: 1.75rem;
      line-height: 2.5rem;
    }
    .btn_conata_me{
      display: block;
      padding: 15px 37px;
      background: $white;
      color: #2b2b2b;
      border-radius: 34px;
      font-size: 0.938rem;
      font-weight: 500;
    }
    @include mobile{
      flex-direction: column;
      text-align: center;
      margin-right: 20px;
      margin-left: 20px;
      h3{
        margin-bottom: 20px;
        font-size: 1.5rem;
      }
    }
    @include tablet-only{
      flex-direction: column;
      text-align: center;
      margin-right: 20px;
      margin-left: 20px;
      h3{
        margin-bottom: 20px;
        font-size: 1.5rem;
      }
    }

  }
}
