#facility{
  background: url("/img/dot.png") left top repeat, $primary;
  position: relative;
  padding-top: 45px;
  padding-bottom: 45px;
  .facility{
    display: grid !important;
    grid-gap: 2vw;
    .col{
      border-right: 1px solid rgb(255,255,255, 0.14);
    }
    @include mobile{
      grid-template-rows: auto;
      grid-template-columns: 1fr;
      .col{
        border: none !important;
      }
      .card-icon{
        padding-right: 30px;
        padding-left: 30px;
      }
    }
    @include tablet-only{
      grid-template-rows: auto;
      grid-template-columns: 1fr 1fr;
      .col{
        border: none !important;
      }
      .card-icon{
        padding-right: 30px;
        padding-left: 30px;
      }
    }
    @include desktop-only{
      grid-template-rows: auto;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    @include widescreen-only{
      grid-template-rows: auto;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    @include fullhd{
      grid-template-rows: auto;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}

.card-icon{
  text-align: center;
  .icon{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .title-card{
    color: $white;
    font-size: 16px;
    line-height: 25px;
    text-transform: uppercase;
    margin-bottom: 8px;
  }
  p{
    color: #cbc9c9;
  }
}
