#footer{
  border-top: 1px solid #EBEBEB;
  .primary-footer{
    background: $footer-primary;
    padding-top: 64px;
    padding-bottom: 64px;
    color: $text;
    .footer-description{
      padding-top: 24px;
      padding-bottom: 24px;
      opacity: 0.7;
      font-weight: 200;
      font-size: 14px;
      line-height: 21px;
    }
    .share-btn{
      display: inline-block;
      margin-right: 17px;
    }
    .footer-title{
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 6px;
      color: $primary;
    }
    .footer-linck{
      color: $text;
      font-size: 14px;
      line-height: 21px;
      font-weight: 400;
      transition: 0.5s all;
      display: flex;
      align-items: flex-start;
      span{
        line-height: 21px;
        span{
          font-weight: 700;
        }
      }
      img{
        margin-right: 10px;
        margin-top: 4px;
      }
      &:hover{
        color: $primary;
      }
    }
    .futer-input{
      display: block;
      margin-top: 9px;
      margin-bottom: 21px;
      background: #E2E2E2;
      padding: 14px 20px;
      border-radius: 4px;
      border: 1px solid #E2E2E2;
      width: 100%;
      color: $text;
      &::placeholder{
        color: #D2D2D2;
        font-weight: 400;
        font-size: 14px;
      }
      &:focus{
        outline: none;
      }
    }
  }

  .section-content{
    display: grid !important;
    grid-gap: 117px;
    max-width: 1275px;
    @include mobile{
      grid-template-rows: auto;
      grid-template-columns: 1fr;
      grid-gap: 30px;
      padding-left: 20px;
      padding-right: 20px;
      justify-content: center;
    }
    @include tablet-only{
      grid-template-rows: auto;
      grid-template-columns: 1fr 1fr;
      padding-left: 20px;
      padding-right: 20px;
      justify-content: center;
    }
    @include desktop-only{
      grid-template-rows: auto;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    @include widescreen-only{
      grid-template-rows: auto;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    @include fullhd{
      grid-template-rows: auto;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  .copiright{
    background: $footer-copiright;
    padding-top: 12px;
    padding-bottom: 12px;
    .section-content{
      display: grid !important;
      grid-gap: 2vw;
      justify-content: center;
      color: $white;
      font-size: 14px;
      a{
        padding-left: 5px;
        padding-right: 5px;
        color: $white;
        transition: 0.5s all;
        &:hover{
          color: $text;
        }
      }
      .copiright-lincks{
        text-align: right;
        a{
          padding-left: 5px;
          padding-right: 5px;
          color: $white;
          transition: 0.5s all;
          &:hover{
            color: $text;
          }
        }
        a:first-child{
          border-right: 1px solid $white;
        }
      }

      @include mobile{
        grid-template-rows: auto;
        grid-template-columns: 1fr;
        grid-gap: 30px;
        justify-content: center;
        padding-left: 20px;
        padding-right: 20px;
      }
      @include tablet-only{
        grid-template-rows: auto;
        grid-template-columns: 1fr;
        justify-content: center;
        padding-left: 20px;
        padding-right: 20px;
      }
      @include desktop-only{
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr;
      }
      @include widescreen-only{
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr;
      }
      @include fullhd{
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr;
      }

    }
  }
}