.navtop{
  background: $top-nav;
  display: flex;
  position: relative;
  z-index: 30;
  &.light{
    background: #FBFBFB;
    .navbar-item{
      color: $text;
      &.share{
        i{
          color: $text;
        }
      }
    }
  }
  .navbar-item{
    color: $white;
    font-size: $size-px-1;
    font-weight: 400;
    padding: 0 10px;
    margin: 15px 0;
    border-left: 1px solid rgba(255, 255, 255, 0.07);
    transition: 0.5s all;
    i{
      margin-right: 10px;
    }
    &:first-child{
      border-left: none;
    }
    &:hover{
      background: none;
      color: $primary;
    }
    &.share{
      border: none;
      i{
        color: $white;
        transition: 0.5s all;
      }
      &:hover{
        i{
          color: $primary;
        }
      }
    }
  }

  @include mobile{
    display: none;
  }
  @include tablet-only{
    display: none;
  }
  @include desktop-only{

  }
  @include widescreen-only{

  }
  @include fullhd{

  }
}

.navbar{
  transition: background-color 0.5s;

  &.is-transparent{
    background-color: transparent !important;
    .phone-mob{
      color: $white;
      transition: 0.5s all;
      &:hover{
        color: $primary;
      }
    }
    .navbar-burger{
      color: $white;
      height: auto;
    }
    .logo-me{
      &.logo-transparent{
        display: block;
      }
      &.logo-fill-white{
        display: none;
      }
    }
    .nav-item{
      color: $white !important;
      .el-dropdown__caret-button{
        span{
          color: $white !important;
        }
      }
      .el-button{
        span{
          a{
            color: $white !important;
          }
        }
      }
    }
  }

  &.is-white{
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
    .phone-mob{
      color: $text;
      transition: 0.5s all;
      &:hover{
        color: $primary;
      }
    }
    .navbar-burger{
      color: $text;
      height: auto;
    }
    .logo-me{
      &.logo-transparent{
        display: none;
      }
      &.logo-fill-white{
        display: block;
      }
    }
    .nav-item{
      color: $text !important;
      .el-dropdown__caret-button{
        span{
          color: $text !important;
        }
      }
      .el-button{
        span{
          a{
            color: $text !important;
          }
        }
      }
    }
  }

  .nav-item{
    overflow: hidden;
    padding: 0.5rem 0;
    margin: 0 0.75rem;
    font-weight: 600;
    transition: 0.5s all;
    text-transform: uppercase;
    font-size: 14px;
    .el-dropdown__caret-button{
      border: none !important;
      &:before{
        display: none;
      }
    }
    .el-button{
      background: transparent !important;
      padding-right: 0;
      span{
        text-transform: uppercase;
        a{
          font-size: 14px;
        }
      }
    }
    &:hover{
      background: transparent !important;
      color: $primary !important;
    }
    &.is-active{
      background: transparent !important;
      color: $primary !important;
    }
  }

  .navbar-menu{
    @include mobile{
      width:290px;
      box-shadow:0 0 0 100em rgba(0,0,0,0);
      transform:translate3d(-290px,0,0);
      transition:all 0.3s ease;
      position: absolute;
      height: calc(100vh);
      top: 0;
      background-color: $top-nav;
      box-shadow: 7px 9px 8px 5px #00000017;
      z-index: 11111;
      overflow-y: auto;
      padding: 16px;
      &.is-active{
        transform:translate3d(0,0,0);
        transition:all 0.3s ease;
      }
      max-height: 100vh !important;
    }
    @include tablet-only{

      width:290px;
      box-shadow:0 0 0 100em rgba(0,0,0,0);
      transform:translate3d(-290px,0,0);
      transition:all 0.3s ease;
      position: absolute;
      height: calc(100vh);
      top: 0;
      background-color: $top-nav;
      box-shadow: 7px 9px 8px 5px #00000017;
      z-index: 11111;
      overflow-y: auto;
      padding: 16px;
      &.is-active{
        transform:translate3d(0,0,0);
        transition:all 0.3s ease;
      }
      max-height: 100vh !important;

    }
  }

  @include mobile{
    .navbar-menu{
      background-color: $text !important;
    }
    .logo-mobile{
      display: block;
      margin: 0.5rem 0.75rem 3rem;
    }
    .desc-show{
      display: none;
    }
    .mob-show{
      display: flex;
    }

    &.is-transparent{
      .nav-item{
        color: $white !important;
        border-bottom: 1px solid #3d3d3d;
        margin-top: 0;
        margin-bottom: 0;
        padding: 10px 0;
        &.b-top{
          border-top: 1px solid #3d3d3d;
        }
        &.is-active{
          color: $primary !important;
        }
        &:after{
          display: none;
        }
        &:hover{
          color: $white !important;
          opacity: 1;
        }
        .el-button-group{
          .el-button{
            span{
              a{
                color: $white !important;
              }
            }
            padding-left: 10px;
          }
        }
      }
    }
    &.is-white{
      .nav-item{
        color: $white !important;
        border-bottom: 1px solid #3d3d3d;
        margin-top: 0;
        margin-bottom: 0;
        padding: 10px 0;
        &.b-top{
          border-top: 1px solid #3d3d3d;
        }
        &.is-active{
          color: $primary !important;
        }
        &:after{
          display: none;
        }
        &:hover{
          color: $white !important;
          opacity: 1;
        }
        .el-button-group{
          .el-button{
            span{
              a{
                color: $white !important;
              }
            }
            padding-left: 10px;
          }
        }
      }
    }
    .serch-input{
      padding-top: 32px;
      input{
        box-shadow: none;
        background: #555555;
        border: none;
        border-radius: 28px;
        height: 3.25em;
        color: $white;
        padding-left: 16px;
        &::placeholder{
          color: $white;
        }
      }
    }

  }

  @include tablet-only{
    .logo-mobile{
      display: block;
      margin: 0.5rem 0.75rem 3rem;
    }
    .desc-show{
      display: none;
    }
    .mob-show{
      display: flex;
    }

    .serch-input{
      padding-top: 32px;
      input{
        box-shadow: none;
        background: #555555;
        border: none;
        border-radius: 28px;
        height: 3.25em;
        color: $white;
        padding-left: 16px;
        &::placeholder{
          color: $white;
        }
      }
    }
    .navbar-menu{
      background-color: $text !important;
    }
    &.is-transparent{
      .nav-item{
        color: $white !important;
        border-bottom: 1px solid #3d3d3d;
        margin-top: 0;
        margin-bottom: 0;
        padding: 10px 0;
        &.b-top{
          border-top: 1px solid #3d3d3d;
        }
        &.is-active{
          color: $primary !important;
        }
        &:after{
          display: none;
        }
        &:hover{
          color: $white !important;
          opacity: 1;
        }
        .el-button-group{
          .el-button{
            span{
              a{
                color: $white !important;
              }
            }
            padding-left: 10px;
          }
        }
      }
    }
    &.is-white{
      .nav-item{
        color: $white !important;
        border-bottom: 1px solid #3d3d3d;
        margin-top: 0;
        margin-bottom: 0;
        padding: 10px 0;
        &.b-top{
          border-top: 1px solid #3d3d3d;
        }
        &.is-active{
          color: $primary !important;
        }
        &:after{
          display: none;
        }
        &:hover{
          color: $white !important;
          opacity: 1;
        }
        .el-button-group{
          .el-button{
            span{
              a{
                color: $white !important;
              }
            }
            padding-left: 10px;
          }
        }
      }
    }
  }

  @include desktop-only{
    min-height: $min-h-nav;
    .logo-mobile{
      display: none;
    }
    .desc-show{
      display: flex;
    }
    .mob-show{
      display: none;
    }
  }

  @include widescreen-only{
    min-height: $min-h-nav;
    .logo-mobile{
      display: none;
    }
    .desc-show{
      display: flex;
    }
    .mob-show{
      display: none;
    }
  }

  @include fullhd{
    min-height: $min-h-nav;
    .logo-mobile{
      display: none;
    }
    .desc-show{
      display: flex;
    }
    .mob-show{
      display: none;
    }
  }
}

.btn-primary{
  padding: 13px 30px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 4px;
  height: auto;
}

#section_header{
  padding: 0 !important;
  margin-top: -$h-header;
  overflow: hidden;
  position: relative;
  height: 75vh;
  img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .section-header-content{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    color: $white;
    .header-content{
      h1{
        font-size: 39px;
        text-transform: uppercase;
        font-weight: 600;
        line-height: 39px;
        margin-bottom: 7px;
      }
      p{
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 40px;
      }
    }
  }
  &:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.6;
    z-index: 1;
  }

  @include mobile{
    .section-header-content{
      padding: 0 16px;
      .header-content{
        text-align: center;
        h1{
          font-size: 29px;
          line-height: 29px;
        }
      }
    }
  }
  @include tablet-only{
    .section-header-content{
      padding: 0 16px;
      .header-content{
        text-align: center;
      }
    }
  }
  @include desktop-only{
  }
  @include widescreen-only{
  }
  @include fullhd{
  }
}

#section_header_sisteme{
  padding: 0 !important;
  margin-top: -$h-header;
  overflow: hidden;
  position: relative;
  height: calc(100vh - 82px);
  img.top_img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .section-header-content{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    flex-direction: column;
    text-align: center;
    h1{
      font-size: 39px;
      text-transform: uppercase;
      font-weight: 600;
      line-height: 39px;
      margin-bottom: 95px;
    }
  }
  &:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.4;
    z-index: 1;
  }
  @include mobile{
    height: calc(100vh - 60px);
    margin-top: -60px;
    .section-header-content{
      padding-left: 16px;
      padding-right: 16px;
      h1{
        font-size: 35px;
      }
    }
  }
  @include tablet-only{
    height: calc(100vh - 60px);
    .section-header-content{
      padding-left: 16px;
      padding-right: 16px;
      h1{
        font-size: 35px;
      }
    }
  }
}
