#offers_page{
  .section-content{
    display: grid;
    grid-gap: 30px;
    padding-top: 75px;
    padding-bottom: 130px;
    @include mobile{
      grid-template-columns: 1fr;
    }
    @include tablet-only{
      grid-template-columns: 1fr 1fr;
    }
    @include desktop-only{
      grid-template-columns: 1fr 1fr 1fr;
    }
    @include widescreen-only{
      grid-template-columns: 1fr 1fr 1fr;
    }
    @include fullhd{
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}