#our_products{
  background: url("/img/dots.png") no-repeat center bottom, #f7f9fa;
  background-size: contain;
  padding: 90px 0;
  position: relative;
  &:after{
    content: '';
    background: #f7f9fa;
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .section-content{
    display: grid !important;
    grid-gap: 2vw;
    justify-items: center;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 100px;
    @include mobile{
      grid-template-rows: auto;
      grid-template-columns: 1fr;
      grid-gap: 30px;
    }
    @include tablet-only{
      grid-template-rows: auto;
      grid-template-columns: 1fr 1fr;
    }
    @include desktop-only{
      grid-template-rows: auto;
      grid-template-columns: 1fr 1fr;
    }
    @include widescreen-only{
      grid-template-rows: auto;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    @include fullhd{
      grid-template-rows: auto;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
  @include mobile{
    padding-bottom: 0;
  }

}

.card-category{
  position: relative;
  overflow: hidden;
  height: 570px;
  .card-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .conent-card{
    height: 200px;
    position: absolute;
    z-index: 5;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    transition: 0.5s all;
    padding: 100px 35px 73px;
    .card-title{
      color: $white;
      font-weight: 600;
      font-size: 2rem;
    }
    p{
      opacity: 0;
      display: none;
      height: 0;
      transition: 0.5s all;
      color: $white;
      font-weight: 600;
      font-size: 1.1rem;
    }
  }
  .card-action{
    height: 75px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 6;
    padding: 20px 35px 35px;
    a{
      color: $white;
      font-weight: 600;
      font-size: 1.25rem;
      transition: 0.5s all;
      span{
        display: inline-block;
        margin-right: 10px;
      }
      img{
        opacity: 0;
        width: 0;
        transition: 0.5s all;
      }
      &:hover{
        color: $primary;
        img{
          width: 24px;
          opacity: 1;
        }
      }
    }
  }
  &:hover{
    .conent-card{
      height: 100%;
      p{
        opacity: 1;
        display: block;
        height: auto;
      }
    }
    &:after{
      background: #4b4b4b;
      opacity: 0.7;
    }
  }
  &:after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background: #030f27;
    opacity: 0.1;
    z-index: 2;
    transition: 0.5s all;
  }
}
