footer {
  background: #2b2b2b;
  color: #fff;
  text-align: center;
  padding: 25px 0;
}

footer hr {
  height: 1px;
  background-color: #3c3c3c;
}

.footer-plugin {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px 0;
}
.footer-plugin:nth-child(1) {
  justify-content: flex-end;
}
.footer-plugin:nth-child(2) {
  justify-content: flex-start;
}
