.navbar-brand .img-logo {
  background-image: url('../img/logos.png');
  height: 55px;
  width: 105px;
  background-position: 0px 168.5px;
  background-size: 105px;
  margin-top: -10px;
}

.navbar-fix {
  position: fixed;
  top: 0;
  z-index: 100;
  background: #fff;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}
.navtop {
  width: 100%;
  background: #2B2B2B;
  border-bottom: 3px solid #896D48;
  height: 36px;
  min-height: 36px;
  font-size: 17px;
  font-weight: 600;
}

.navtop a.navbar-item {
  cursor: pointer;
  color: #fff;
  padding: 0 15px;
  height: 33px;
}
.navtop a.navbar-item:hover {
  cursor: pointer;
  color: #fff;
  background-color: #000;
}

.navtop a.navbar-item i {
  margin-right: 10px;
}

.navbar-menu a.navbar-item {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  padding: 40px 15px;
  color: #896D48 !important;
}

.navbar-burger {
    margin: auto 0 auto auto;
}

@media (max-width: 1024px) {
  .navtop {
    display: none;
  }
  body {
    padding-top: 52px;
  }
}
