<template>
    <section :id="idsec" class="sistem-slider">
        <div class="container">
            <carousel-3d :controls-visible="true"
                         :perspective="0"
                         :space="400"
                         :width="709"
                         :height="472"
                         :display="3"
                         :border="0"
                         :loop="false"
                         :controls-prev-html="left"
                         :controls-next-html="right"
                         :controls-width="51"
                         :controls-height="16">
                <slide v-for="(i, index) in idsec" :index="index" :key="index">
                    <img :src="'/images/site/'+i.name" alt="">
                </slide>
            </carousel-3d>
        </div>
    </section>
</template>

<script>
    import { Carousel3d, Slide } from 'vue-carousel-3d';
    export default {
        name: "CarouselSistem",
        props: ['idsec'],
        components: {
            'carousel-3d': Carousel3d,
            'slide': Slide
        },
        data () {
            return {
                left: '<img src="/img/arrow-left.png" alt="">',
                right: '<img src="/img/arrow-right.png" alt="">'
            }
        }
    }
</script>

<style scoped>

</style>