<template>
  <div class="container section-content">
    <div class="col" v-for="(item, index) in series" :key="index">
      <div class="serie-card">
        <img :src="'https://order.profildoors.ro/' + item.bg_image" alt="">
        <div class="serie-card-content">
          <a :href="'/catalog?serii=' + item.id + '&api_type_switch=false'" class="serie-name">Seria {{ item.name }}</a>
          <div class="serie-excerpt">
            <p>{{ item.bg_description }}</p>
            <a :href="'/catalog?serii=' + item.id + '&api_type_switch=false'" class="serie-link">VEZI PRODUSE</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col" v-for="(item, index) in series_porta" :key="index">
      <div class="serie-card">
        <img v-if="item.bg_image" :src="'https://order.naturshowroom.md/' + item.bg_image" alt="">
        <img v-else src="/img/bg_default.jpeg" alt="">
        <div class="serie-card-content">
          <a :href="'/catalog?serii=' + item.id + '&api_type_switch=true'" class="serie-name">Seria {{ item.name }}</a>
          <div class="serie-excerpt">
            <p>{{ item.bg_description }}</p>
            <a :href="'/catalog?serii=' + item.id + '&api_type_switch=true'" class="serie-link">VEZI PRODUSE</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
export default {
  name: "CatalogSeries",
  data() {
    return {
      series: [],
      series_porta: []
    }
  },

  created() {
    this.getSeries();
    this.getSeriesPorta();
  },

  methods: {
    getSeries() {
      axios.get('https://order.profildoors.ro/api/series/')
          .then(response => {
            this.series = response.data;
          });
    },
    getSeriesPorta() {
      axios.get('https://order.naturshowroom.md/api/series/')
          .then(response => {
            this.series_porta = response.data;
          });
    },
  }
}
</script>

<style scoped>

</style>
