<template>
    <div class="sidenav border-none">
        <div class="sidenav-culori" v-if="ferestre.length > 0">
            <h3 class="sidenav-section-title border-right">Sticla</h3>
            <div class="sidenav-section-content">
                <div>
                    <ul class="sidenav-color" v-if="ferestre.length > 0">
                        <li :class="(selected_f != null && selected_f.id == fer.id)?'active':''"
                            :style="'background-image:url(/images/catalog/'+fer.window.image+'); background-position: center;'"
                            v-for="(fer, ind) in ferestre" :key="ind"
                            @click="selectImage(color_selected,ferestre,fer)"
                        ></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Characteristics",
        props: ['colors'],
        data () {
            return {
                ferestre: [],
                color_selected: null,
                selected_f: {
                    window: {
                        name: ''
                    }
                },
                culori: []
            }
        },
        methods: {
            selectImage(color, windows, fereastra){
                this.color_selected = color;
                this.ferestre = windows;
                this.selected_f = fereastra;
                this.$emit('loading-data', true);
                this.$emit('update-fereastra', this.selected_f == null ? '/images/catalog/'+this.color_selected.image : '/images/catalog/'+this.selected_f.image)
            }
        },
        mounted(){
            this.culori = this.colors;
            this.color_selected = this.colors[0];
            this.ferestre = this.colors[0].windows;
            this.selectImage(this.color_selected, this.ferestre, null)
        }
    }
</script>

<style scoped>

</style>