<template>
    <div class="content-top-colors">
        <div class="sidenav border-none">
            <div class="sidenav-culori">
                <h3 class="sidenav-section-title border-right">Culoare <br><span :style="'font-size: 12px'" v-if="color_selected != null">{{color_selected.color.name}}</span></h3>
                <div class="sidenav-section-content">
                    <div v-if="colors.length > 0">
                        <ul class="sidenav-color">
                            <li :class="{'active' : color_selected.id == color.id}"
                                style="background-position: center center;"
                                :style="color.color.image != null ? 'background: url(/images/catalog/'+color.color.image+');' : 'background: '+color.color.code+';'"
                                v-for="(color, index) in culori"
                                :key="index"
                                @click="selectImage(color, color.windows, null)"
                            >
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="sidenav border-none">
            <div class="sidenav-culori" v-if="ferestre.length > 0">
                <h3 class="sidenav-section-title border-right">Sticla<br> <span :style="'font-size: 12px'" v-if="selected_f">{{selected_f.window.name}}</span></h3>
                <div class="sidenav-section-content">
                    <div>
                        <ul class="sidenav-color" v-if="ferestre.length > 0">
                            <li :class="(selected_f != null && selected_f.id == fer.id)?'active':''"
                                :style="'background-image:url(/images/catalog/'+fer.window.image+'); background-position: center;'"
                                v-for="(fer, ind) in ferestre" :key="ind"
                                @click="selectImage(color_selected,ferestre,fer)"
                            ></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "ColorWindow",
        props: ['colors'],
        data() {
            return {
                ferestre: [],
                color_selected: null,
                selected_f: {
                    window: {
                        name: ''
                    }
                },
                culori: [],
            }
        },

        mounted() {
            this.culori = this.colors;
            this.color_selected = this.colors[0];
            this.ferestre = this.colors[0].windows;
            this.selectImage(this.color_selected, this.ferestre, null)
        },

        methods: {
            selectImage(color, windows, fereastra) {
                this.color_selected = color;
                this.ferestre = windows;
                this.selected_f = fereastra;
                this.$emit('loading-data', true);
                this.$emit('update-fereastra', this.selected_f == null ? '/images/catalog/' + this.color_selected.image : '/images/catalog/' + this.selected_f.image)
            }
        },
    }
</script>

<style scoped>

</style>
