<template>
    <div id="my-banner">
        <el-carousel height="450px" direction="vertical" :autoplay="false">
            <el-carousel-item v-for="(banner, i) in banners" :key="i" :label="i+1">
                <div class="flex-slide">
                    <div class="content-slide">
                        <div class="s-text">
                            <span>USI INTERIOR</span>
                            <h2>USI MODERNE DE INTERIOR, CEA MAI VARIATA GAMA DE MODELE.</h2>
                        </div>
                        <div class="slide-button">
                            <button>Mai detaliat</button>
                        </div>
                    </div>
                    <div class="img-slide">
                        <img :src="'images/homePage/' +banner.image" alt="">
                    </div>
                </div>
            </el-carousel-item>
        </el-carousel>
    </div>
</template>

<script>
    export default {
        name: "home-slidere",
        props: ['banners']
    }
</script>

<style lang="scss" scoped>
    #my-banner {
        .flex-slide {
            display: flex;
            flex-wrap: nowrap;

            .content-slide {
                width: 40%;
                padding: 45px 45px 45px 160px;
                text-align: center;
                background: #f7f7f7;
                height: 450px;

                .s-text {
                    text-align: left;
                    padding: 45px;

                    span {
                        font-size: 16px;
                        color: #9a9998;
                        font-weight: 600;
                    }

                    h2 {
                        font-size: 25px;
                        font-weight: 700;
                    }
                }

                .slide-button {
                    text-align: right;

                    button {
                        background-color: #1f1a17;
                        border: 2px solid #1f1a17;
                        border-radius: 5px;
                        height: 50px;
                        font-weight: bold;
                        color: #fff;
                        cursor: pointer;
                        width: 185px;
                        margin-right: 25px;
                        text-transform:uppercase;
                        &:hover {
                            background-color: transparent;
                            color: #1f1a17;
                        }
                    }


                }
            }

            .img-slide {
                width: 60%;
                height: 450px;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
        }

        .el-carousel__button {
            background-color: #17110f !important;
        }

        @media screen and (max-width: 600px) {
            .flex-slide .img-slide{
                width: 100%;

                img{
                    object-position: center right;
                }
            }

            .flex-slide .content-slide{
                display:none
            }
        }


        @media screen and (max-width: 1680px){
            .flex-slide .content-slide .s-text h2 {
                font-size: 31px;
            }
        }

    }
</style>