<template>
  <div class="container slider-colection">
    <div class="sw-button-prev" slot="button-prev"></div>
    <swiper :options="swiperOption">
      <swiper-slide v-for="(item, index) in series" :key="index"
                    v-if="item.product">
        <a title="link" :href="'/category/serie/'+ item.name + '/' + item.id">
          <div class="slider_image">
            <img :src="setImage(item.product.colors[0])" alt="usi-de-interior">
            <div class="slide-price">Seria {{ item.name }}</div>
          </div>
        </a>
      </swiper-slide>
    </swiper>
    <div class="sw-button-next" slot="button-next"></div>
  </div>
</template>

<script>
export default {
  name: "MainSlider",
  data() {
    return {
      series: [],
      swiperOption: {
        slidesPerView: 6,
        spaceBetween: 30,
        freeMode: true,
        autoplay: {
          delay: 4000,
          disableOnInteraction: false,
          waitForTransition: false,
        },
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev'
        },
        breakpoints: {
          1408: {
            slidesPerView: 6,
            spaceBetween: 40
          },
          1216: {
            slidesPerView: 5,
            spaceBetween: 30
          },
          1024: {
            slidesPerView: 4,
            spaceBetween: 30
          },
          769: {
            slidesPerView: 2,
            spaceBetween: 20
          },
          320: {
            slidesPerView: 1,
            spaceBetween: 10
          }
        }
      },
    }
  },

  created() {
    this.getSeries();
  },

  methods: {
    getSeries() {
      axios.get('https://order.profildoors.ro/api/series/')
          .then(response => {
            this.series = response.data;
          });
    },
    setImage(model) {
      let image = '';
      let original_url = 'https://order.profildoors.ro/images/catalog-img-original/';
      let comprimed_url = 'https://order.profildoors.ro/images/catalog/';
      if (model.image_original != null) {
        image = original_url + model.image_original;
      } else {
        image = comprimed_url + model.image;
      }

      return image;
    },
  }
}
</script>

<style scoped>

</style>
