<template>
    <section id="offers-serie">
        <div class="serie-block-me">
            <div class="container" >
                <ul class="serie-arrange">
                    <li v-for="serie in series">
                        <a href="">
                            <span>{{serie.name}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="container">
            <div class="mb4 has-text-centered ">
                <h2 class="title is-2">Uși de interior</h2>
            </div>
            <div class="mb5" id="series">
                <h3 class="title is-3">Serii</h3>
                <div class="series">

                    <div class="sidenav mobfilter">
                        <div>
                            <el-button type="primary" class="action_button" @click="resetFilter()">Resetare filtre</el-button>
                        </div>
                        <div>
                            <h3 class="sidenav-section-title">serii</h3>
                            <ul class="sidenav-series">

                                <li v-for="serie in series">
                                    <a :href="'/category/serie/'+ serie.name + '/' + serie.id"><span>{{serie.name}}</span></a>
                                </li>

                            </ul>
                        </div>
                        <div class="sidenav-pret">
                            <h3 class="sidenav-section-title">Preț de la</h3>

                            <label>min: {{ price[0] }}Lei, max: {{ price[1] }}Lei</label>
                            <el-slider
                                    v-model="price"
                                    range
                                    show-stops
                                    :min="min"
                                    :max="max"
                                    @change="GetDors()">
                            </el-slider>
                        </div>

                        <div class="sidenav-culori">
                            <h3 class="sidenav-section-title">Culoare</h3>

                            <div v-if="group_colors.length > 0" v-for="(group, index) in group_colors" :key="index">
                                <span v-if="index == 0">Alte culori</span>
                                <span v-else-if="index == 1">Albe</span>
                                <span v-else-if="index == 2">Structura lemn</span>
                                <ul class="sidenav-color" v-if="group.length > 0">
                                    <li v-for="(color, i) in group" :key="i" :class="(color_id != '' && color_id == color.id) ? 'active' : ''" @click="color_id = color.id; GetDors()">
                                        <img :src="'/images/catalog/'+color.image" :alt="color.name" v-if="color.image != null" >
                                        <span v-else :style="'background-color:' + color.code +';'"></span>
                                    </li>
                                </ul>
                            </div>

                        </div>

                        <div class="sidenav-window">
                            <h3 class="sidenav-section-title">Insertii</h3>

                            <div v-if="group_windows.length > 0">
                                <ul class="sidenav-color">
                                    <li v-for="(wind, u) in group_windows" :key="u" :class="(window_id != '' && window_id == wind.id) ? 'active' : ''" @click="window_id = wind.id; GetDors()">
                                        <img :src="'/images/catalog/'+wind.image" :alt="wind.name">
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="sidenav-stil">
                            <h3 class="sidenav-section-title">Stil</h3>

                            <div>
                                <el-checkbox-group v-model="styles">
                                    <el-checkbox :label="style.id" v-for="(style, index) in doorStyles" :key="index" @change="GetDors()">{{ style.name }}</el-checkbox>
                                </el-checkbox-group>
                            </div>

                        </div>

                        <div class="sidenav-type-me">
                            <h3 class="sidenav-section-title">Tip</h3>
                            <div class="sidenav-tip">
                                <el-radio-group v-model="door_type">
                                    <el-radio :label="dtype.id" v-for="(dtype, index) in doorTypes" :key="index" @change="GetDors()">{{ dtype.type }}</el-radio>
                                </el-radio-group>
                            </div>

                        </div>

                        <div>
                            <el-button type="primary" class="action_button" @click="resetFilter()">Resetare filtre</el-button>
                        </div>

                    </div>

                    <div class="content">
                        <pagination :data="laravelData" @pagination-change-page="getResults" :limit="2" align="center"></pagination>

                        <transition-group name=”fade” class="columns is-multiline is-mobile" tag="div" style="margin-top: 16px;" v-if="doors.length > 0">
                            <div class="column bigd is-3-desktop is-half-mobile is-half-tablet" v-for="(dor, index) in doors" :key="'index'+index" v-if="getImage(dor) != null">

                                <a :href="'/product/'+dor.name+'/'+dor.id" class="catalog-img">

                                    <img :src="'/images/catalog/'+getImage(dor)" alt="door" style="width: 160px;">
                                </a>
                                <div class="slide-title has-text-weight-bold">
                                    Seria {{dor.name}}
                                </div>
                                <div class="door-price">
                                    <span>Preț de la <strong>{{dor.price}}</strong>Lei</span>
                                </div>
                                <div class="slide-link">
                                    <a :href="'/product/'+dor.name+'/'+dor.id">Vezi culori</a>
                                </div>
                            </div>
                        </transition-group>

                        <infinite-loading :identifier="infiniteId" @infinite="infiniteHandler"></infinite-loading>
                    </div>
                </div>
                <span class="openfilters-mobile" onclick="openNav()">&#9776; FILTRE</span>
                <div id="mySidenav1" class="sidenav12">

                </div>
                <div id="mySidenav" class="sidenav1">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <div class="sidenav mobile-sidenav-me">
                        <div>
                            <el-button type="primary" class="action_button" @click="resetFilter()">Resetare filtre</el-button>
                        </div>
                        <div>
                            <h3 class="sidenav-section-title">serii</h3>
                            <ul class="sidenav-series">

                                <li v-for="serie in series">
                                    <a :href="'/category/serie/'+ serie.name + '/' + serie.id"><span>{{serie.name}}</span></a>
                                </li>

                            </ul>
                        </div>
                        <div class="sidenav-pret">
                            <h3 class="sidenav-section-title">Preț de la</h3>

                            <label>min: {{ price[0] }}Lei, max: {{ price[1] }}Lei</label>
                            <el-slider
                                    v-model="price"
                                    range
                                    show-stops
                                    :min="min"
                                    :max="max"
                                    @change="GetDors()">
                            </el-slider>
                        </div>

                        <div class="sidenav-culori">
                            <h3 class="sidenav-section-title">Culoare</h3>

                            <div v-if="group_colors.length > 0" v-for="(group, index) in group_colors" :key="index">
                                <span v-if="index == 0">Alte culori</span>
                                <span v-else-if="index == 1">Albe</span>
                                <span v-else-if="index == 2">Structura lemn</span>
                                <ul class="sidenav-color" v-if="group.length > 0">
                                    <li v-for="(color, i) in group" :key="i" :class="(color_id != '' && color_id == color.id) ? 'active' : ''" @click="color_id = color.id; GetDors()">
                                        <img :src="'/images/catalog/'+color.image" :alt="color.name" v-if="color.image != null" >
                                        <span v-else :style="'background-color:' + color.code +';'"></span>
                                    </li>
                                </ul>
                            </div>

                        </div>

                        <div class="sidenav-window">
                            <h3 class="sidenav-section-title">Insertii</h3>

                            <div v-if="group_windows.length > 0">
                                <ul class="sidenav-color">
                                    <li v-for="(wind, u) in group_windows" :key="u" :class="(window_id != '' && window_id == wind.id) ? 'active' : ''" @click="window_id = wind.id; GetDors()">
                                        <img :src="'/images/catalog/'+wind.image" :alt="wind.name">
                                    </li>
                                </ul>
                            </div>

                        </div>

                        <div class="sidenav-stil">
                            <h3 class="sidenav-section-title">Stil</h3>

                            <div v-if="door_styles.length > 0">
                                <el-checkbox-group v-model="styles">
                                    <el-checkbox :label="style.id" v-for="(style, index) in door_styles" :key="index" @change="GetDors()">{{ style.name }}</el-checkbox>
                                </el-checkbox-group>
                            </div>

                        </div>

                        <div class="sidenav-type-me">
                            <h3 class="sidenav-section-title">Tip</h3>
                            <div class="sidenav-tip" v-if="door_types.length > 0">
                                <el-radio-group v-model="door_type">
                                    <el-radio :label="dtype.id" v-for="(dtype, index) in door_types" :key="index" @change="GetDors()">{{ dtype.type }}</el-radio>
                                </el-radio-group>
                            </div>

                        </div>

                        <div>
                            <el-button type="primary" class="action_button" @click="resetFilter()">Resetare filtre</el-button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import InfiniteLoading from 'vue-infinite-loading';
    export default {
        name: "ProductSeries",
        props: ['series','min_value', 'max_value','groupcolors','groupwindows', 'door_styles', 'door_types', 'price',],
        components: {
            InfiniteLoading,
        },
        data () {
            return{
                serch: false,
                preloader: true,
                min: 0,
                max: 100,
                serie_id: null,

                group_colors: [],
                group_windows: [],
                door_styles: [],
                door_types: [],

                laravelData: {},
                price: [0,100],
                color_id: '',
                window_id: '',
                styles: [],
                door_type: '',
                doors: [],
                loading: true,
                page: 1,
                infiniteId: +new Date(),
                show_more: false,

            }
        },
        methods: {
            topFunction(){
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            },
            getResults(page = 1) {
                var styles = this.styles.length > 0 ? JSON.stringify(this.styles) : '';

                axios.get('/door-filter/'+this.serie_id+'?page='+page+'&price='+JSON.stringify(this.price)+'&color_id='+this.color_id+'&window_id='+this.window_id+'&styles='+styles+'&door_type='+this.door_type)
                    .then(response => {
                        this.laravelData = response.data;
                        this.doors = response.data.data;
                        if(response.data.data.length>0){

                            //this.loading = true
                        }else{
                            //this.loading = false
                        }

                    });
            },
            infiniteHandler($state){
                var styles = this.styles.length > 0 ? JSON.stringify(this.styles) : '';
                axios.get('/door-filter/'+this.serie_id, {
                    params: {
                        page: this.page,
                        price: JSON.stringify(this.price),
                        color_id: this.color_id,
                        window_id: this.window_id,
                        styles: styles,
                        door_type: this.door_type
                    }
                }).then(response => {
                    if(response.data.data.length){
                        this.page += 1;
                        this.doors.push(...response.data.data);
                        $state.loaded();
                    }else {
                        $state.complete();
                    }

                });
            },
            GetDors(){
                this.page = 1;
                this.doors = [];
                this.infiniteId += 1;
            },
            resetFilter(){
                var p = [parseInt(min_value), parseInt(max_value)];
                this.price = p;
                this.color_id = '';
                this.window_id = '';
                this.styles = [];
                this.door_type = '';
                this.GetDors()
            },
            getImage(door){
                var img = 'no-image.png';
                if(this.color_id == '' && this.window_id == ''){
                    if(door.colors.length > 0){
                        img = door.colors[0].image != null ? door.colors[0].image : 'no-image.png'
                    }
                }else if(this.color_id != '' && this.window_id == ''){
                    if (door.colors.length > 0) {
                        let color = door.colors.find(color => color.color_id == this.color_id);
                        img = color.image != null ? color.image : 'no-image.png'
                    }
                }else if(this.color_id == '' && this.window_id != ''){
                    var vind = []
                    if(door.colors.length > 0){
                        door.colors.forEach((el) => {
                            if(el.windows.length > 0){
                                el.windows.forEach((e) => {
                                    vind.push(e)
                                })
                            }
                        })
                    }

                    if(vind.length > 0){
                        let w = vind.find(w => w.window_id == this.window_id);
                        img = w.image != null ? w.image : 'no-image.png'
                        console.log(w.image)
                    }
                }else if(this.color_id != '' && this.window_id != ''){
                    if (door.colors.length > 0){
                        let color = door.colors.find(color => color.color_id == this.color_id);

                        if(color.windows.length > 0){
                            let w = color.windows.find(w => w.window_id == this.window_id);
                            img = w.image != null ? w.image : 'no-image.png'
                        }
                    }

                }
                return img
            }
        },
        mounted(){
            this.min = parseInt(this.min_value);
            this.max = parseInt(this.max_value);
            var p = [parseInt(this.min_value), parseInt(this.max_value)];
            this.price = p;
            this.serie_id = this.serie_id;
            this.group_colors = this.groupcolors;
            this.group_windows = groupwindows;
            this.door_styles = doorStyles;
            this.door_types = doorTypes;
        }
    }
</script>

<style lang="scss" scoped>
#offers-serie{
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
}
</style>